augmax
dm-tree
einops
equinox
flatbuffers
flax
imageio
ipykernel
jax[cuda12]==0.4.34
jaxtyping==0.2.34
msgpack
numpy==2.1.2
opencv-python
orbax-checkpoint
pillow
pytest
sentencepiece
tqdm
typing-extensions
tyro
websockets
